/target
/.direnv
/.factorio/vanilla/
/reference

/slop/*.jq

# fishing config files:
.claude/fishing.bash.local.txt
.claude/fishing.paths.local.txt
.claude/fishing.webfetch.local.txt
.claude/fishing.glob-exclude.local.txt
.claude/fishing.log
.claude/fishing.log~

**/player-data.json